{{#each books}}
<a class="bookblocks" href="/books/{{id}}">
    <div>
        <img src="https://covers.openlibrary.org/b/isbn/{{isbn}}-M.jpg">
        <h3>{{title}}</h3>
        <p>{{authors}}</p>
    </div>
</a>
{{/each}}