<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Inventory</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div id="home-page" class="has-background-info box container is-justify-content-center">
        <h1 id="title" class="">Books Galore</h1>
        <p id="slogan"> <em>Your imagination awaits</em></p>

         <div id="logindiv">
            <h2 class="has-text-black">Author</h2>
            <form class="login-form">
                <div class="field">
                    <label class="label" for="email-login">Email:</label>
                    <div class="control">
                        <input class="input" type="text" id="email-login" placeholder="Enter your email" />
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="password-login">Password:</label>
                    <div class="control">
                        <input class="input" type="password" id="password-login" placeholder="Enter your password" />
                    </div>
                </div>
                <div class="loginbtn field">
                    <div class="control">
                        <button class="button is-primary" type="submit">Login</button>
                    </div>
                    <div class="sign-up">
                        <p>
                            <a href="/users/login">Sign Up Here!</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{!-- EDIT JS FILE TO COINCIDE WITH NEW <ID>
<CLASSES></CLASSES> --}}
<script src="/js/login.js"></script>

</body>

</html>