<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Inventory</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style2.css">
</head>

<body>
    <div id="open-page" class="container is-justify-content-center">
        <div id="full-page">
            <div id="sidebar">
                <div class="mt-5">
                    <ul>

                        <li class="warandpeace">s war, if you</li>
                        <li class="warandpeace"> do with you</li>
                        <li class="warandpeace">it down and</li>

                        <li class="listlink"><a href="/wishlist">Wishlist</a></li>

                        <li class="warandpeace"> Fëdorovna.</li>
                        <li class="warandpeace"> na Pávlovna</li>
                        <li class="warandpeace"> the elite.</li>

                        <li class="listlink"><a href="/dashboard">All Books </a></li>

                        <li class="warandpeace">e, I shall be</li>
                        <li class="warandpeace"> mbroidered</li>
                        <li class="warandpeace">nch in which</li>

                        <li class="listlink"><a href="/">Logout </a></li>

                        <li class="warandpeace">ld in society</li>
                        <li class="warandpeace">ted himself</li>
                        <li class="warandpeace">nd affected</li>
                        <li class="warandpeace"> staying the</li>
                        <li class="warandpeace">s coming for</li>
                        <li class="warandpeace"> earisome.”</li>
                        <li class="warandpeace">rce of habit</li>
                        <li class="warandpeace">everything.”</li>
                        <li class="warandpeace">as burnt his</li>
                        <li class="warandpeace"> burn ours.”</li>
                        <li class="warandpeace"> forty years,</li>
                        <li class="warandpeace"> feel like it,</li>
                        <li class="warandpeace">it her faded</li>
                        <li class="warandpeace">ther wished,</li>
                        <li class="warandpeace"> to correct.</li>
                        <li class="warandpeace"> burst out:</li>
                        <li class="warandpeace">traying us!</li>
                        <li class="warandpeace">ith in! Our</li>
                        <li class="warandpeace">e will fulfill</li>
                    </ul>
                </div>
            </div>
            <div id="main-search">
                <h1 id="title" class="">Books Galore...and more!</h1>
                <div id="searchbar">
                    <input type="text" placeholder="Search">
                </div>
                <div id="bookgrid">
                    {{> cardList}}
                </div>
                <div id="changepage">
                    <a href="#" id="prev-page">Previous Page</a> |
                    <a href="#" id="next-page">Next Page</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/dashboard.js"></script>
</body>

</html>