<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="stylesheet" href="/css/signup.css">


<div id="open-page" class="container is-justify-content-center">
    <div id="full-page">
        <div id="sidebar">
        </div>
        <div id="signuptitle">
            <div id="main-search">
                <h1 id="title" class="">Books Galore...and more!</h1>
            </div>
            <div id="signupdiv">
                <h2>Sign Up</h2>
                <form class="signup-form">
                    <div class="field">
                        <label class="label" for="email-signup">Name:</label>
                        <div class="control">
                            <input class="input" type="text" id="name-signup" placeholder="Enter your name" />
                        </div>
                        <div class="field">
                            <label class="label" for="email-signup">Email:</label>
                            <div class="control">
                                <input class="input" type="text" id="email-signup" placeholder="Enter your email" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="password-signup">Password:</label>
                            <div class="control">
                                <input class="input" type="password" id="password-signup"
                                    placeholder="Enter your password" />
                            </div>
                        </div>
                        <div class="signupbtn field">
                            <div class="control">
                                <button class="button button is-info is-outlined" type="submit">Login</button>
                            </div>
                            <div class="login">
                                <p>
                                    <a href="/">Already have an account? Login here!</a>
                                </p>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>

</div>

</body>


<script src="../public/js/login.js"></script>