<h2>Sign Up</h2>
<div id="signupdiv">
    <form class="signup-form">
        <div class="field">
            <label class="label" for="email-signup">Name:</label>
            <div class="control">
                <input class="input" type="text" id="name-signup" placeholder="Enter your name" />
            </div>
            <div class="field">
                <label class="label" for="email-signup">Email:</label>
                <div class="control">
                    <input class="input" type="text" id="email-signup" placeholder="Enter your email" />
                </div>
            </div>
            <div class="field">
                <label class="label" for="password-signup">Password:</label>
                <div class="control">
                    <input class="input" type="password" id="password-signup" placeholder="Enter your password" />
                </div>
            </div>
            <div class="signupbtn field">
                <div class="control">
                    <button class="button is-primary" type="submit">Login</button>
                </div>
                <div class="login">
                    <p>
                        <a href="/">Already have an account? Login here!</a>
                    </p>
                </div>
            </div>
    </form>
</div>

<script src="/js/login.js"></script>