<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

<link rel="stylesheet" href="/css/signup.css">

<section id="open-page" class="container is-justify-content-center">
    <div id="full-page">
        <div id="sidebar">
            <div class="mt-5">
                <ul>

                    <li class="warandpeace">s war, if you</li>
                    <li class="warandpeace"> do with you</li>
                    <li class="warandpeace">it down and</li>

                    <li class="listlink"><a href="/wishlist">Wishlist</a></li>

                    <li class="warandpeace"> Fëdorovna.</li>
                    <li class="warandpeace"> na Pávlovna</li>
                    <li class="warandpeace"> the elite.</li>

                    <li class="listlink"><a href="/dashboard">All Books </a></li>

                    <li class="warandpeace">e, I shall be</li>
                    <li class="warandpeace"> mbroidered</li>
                    <li class="warandpeace">nch in which</li>

                    <li class="listlink"><a href="/">Logout </a></li>

                    <li class="warandpeace">ld in society</li>
                    <li class="warandpeace">ted himself</li>
                    <li class="warandpeace">nd affected</li>
                    <li class="warandpeace"> staying the</li>
                    <li class="warandpeace">s coming for</li>
                    <li class="warandpeace"> earisome.”</li>
                    <li class="warandpeace">rce of habit</li>
                    <li class="warandpeace">everything.”</li>
                    <li class="warandpeace">as burnt his</li>
                    <li class="warandpeace"> burn ours.”</li>
                    <li class="warandpeace"> forty years,</li>
                    <li class="warandpeace"> feel like it,</li>
                    <li class="warandpeace">it her faded</li>
                    <li class="warandpeace">ther wished,</li>
                    <li class="warandpeace"> to correct.</li>
                    <li class="warandpeace"> burst out:</li>
                    <li class="warandpeace">traying us!</li>
                    <li class="warandpeace">ith in! Our</li>
                    <li class="warandpeace">e will fulfill</li>
                </ul>
            </div>
        </div>
        <div class="signupdivcontain">
            <div id="signupdiv">
                <h2>Sign Up</h2>

                <form class="signup-form">
                    <div class="field">
                        <label class="label" for="email-signup">Name:</label>
                        <div class="control">
                            <input class="input" type="text" id="name-signup" placeholder="Enter your name" />
                        </div>
                        <div class="field">
                            <label class="label" for="email-signup">Email:</label>
                            <div class="control">
                                <input class="input" type="text" id="email-signup" placeholder="Enter your email" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="password-signup">Password:</label>
                            <div class="control">
                                <input class="input" type="password" id="password-signup"
                                    placeholder="Enter your password" />
                            </div>
                        </div>
                        <div class="signupbtn field">
                            <div class="control">
                                <button class="button is-primary" type="submit">Login</button>
                            </div>
                            <div class="login">
                                <p>
                                    <a href="/">Already have an account? Login here!</a>
                                </p>
                            </div>
                        </div>
                </form>
            </div>
        </div>

</section>

<script src="/js/login.js"></script>