#open-page {
    width: 700px;
    height: 800px;
    border: 2px solid black;
    background-color: white;
}

#open-page::after {
    content: '';
    position: absolute;
    z-index: -1;
    right: -10px;
    bottom: -10px;
    width: 88%;
    height: 100%;
    background: rgba(2, 123, 210, 0.825);
    border: 2px solid black;
    border-radius: 7px;
}

#full-page {
    display: flex;
    height: 100%;
}

#sidebar {
    width: 100px;
    height: 100%;
    border-right: 1px solid black;
    flex-shrink: 0;
    box-shadow: 2px 0 8px 1px rgb(60, 60, 60), -7px 0 8px rgb(164, 164, 164) inset;
    z-index: 3;
    left: 0;
}

#sidebar ul {
    margin: 2px;
}

.listlink a {
    color: rgb(54, 54, 54);
    background-color: yellow;

}

.listlink:hover {
    font-weight: 900;

}

#bookimg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 60%;
}

#title-wishbtn {
    margin-top: 10px;
}

#booktitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: bold;

}

#booktitle h2 {
    font-style: italic;
    font-size: 20px;

}

.bookinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: bold;
}

.bookinfo h2 {
    margin-left: 3px;
}

#back {
    margin-top: 20px;
}

#rightside {
    display: flex;
    flex: column;
}

#title {
    color: black;
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    position: absolute;

}

#content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    display: flex;
    text-align: center;
    height: 100%;
    margin-top: 20px;
}

#add-to-wishlist {
    margin-top: 10px;
}