#open-page {
    width: 700px;
    height: 800px;
    border: 2px solid black;
    background-color: white;
}

#open-page::after {
    content: '';
    position: absolute;
    z-index: -1;
    right: -10px;
    bottom: -10px;
    width: 88%;
    height: 100%;
    background: rgba(2, 123, 210, 0.825);
    border: 2px solid black;
    border-radius: 7px;
}

#full-page {
    display: flex;
    align-items: flex-start;
    height: 100%;
}

#sidebar {
    width: 100px;
    height: 100%;
    border-right: 1px solid black;
    flex-shrink: 0;
    box-shadow: 2px 0 8px 1px rgb(60, 60, 60), -7px 0 8px rgb(164, 164, 164) inset;
    z-index: 3;
    left: 0;
}

#sidebar ul {
    margin: 2px;
}

.warandpeace {
    font-style: italic;
}

.listlink a {
    color: rgb(54, 54, 54);
}

.listlink:hover {
    font-weight: 900;

}

.signupdivcontain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#signupdiv {
    text-align: center;
    margin-top: 40px;
}